home/vim/autoload
home/vim/plugged
home/nvim/lazy-lock.json
home/nvim/lazyvim.json
home/nvim/.stylua.toml
home/emacs/places
home/emacs/elpa
home/emacs/custom.el
home/emacs/auto-save-list
home/emacs/flycheck_init.el
home/emacs/tramp
home/emacs/projects
home/emacs/recentf
home/emacs/transient
home/emacs/snippets
home/emacs/custom.el
home/emacs/.session
home/emacs/eshell
home/emacs/amx-items
home/emacs/transient
home/emacs/.lsp-session*
home/emacs/package-quickstart.el
*.elc
*.xlsx
*.docx
*.pptx
*.xls
*.doc
*.ppt
*.pdf
*.jpg
*.png
*.jpeg
*.log
*.el~
*.swp
.DS_Store
