vim/autoload
vim/plugged
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/.stylua.toml
emacs/places
emacs/elpa
emacs/custom.el
emacs/auto-save-list
emacs/flycheck_init.el
emacs/tramp
emacs/projects
emacs/recentf
emacs/transient
emacs/snippets
emacs/custom.el
emacs/.session
emacs/eshell
emacs/amx-items
emacs/transient
emacs/.lsp-session*
emacs/package-quickstart.el
*.elc
*.xlsx
*.docx
*.pptx
*.xls
*.doc
*.ppt
*.pdf
*.jpg
*.png
*.jpeg
